div.calc--keyboard:focus {
    border: none;
    outline: 1px gold;
}

.keyboard--button {
    width: calc(25% - 2px);
    background: #f9f9f0;
    height: 50px;
    margin: 1px;
    border: none;
    /* box-shadow: .5px .5px grey; */
}

.keyboard--button:hover {
    background: #464646;
    color: white;
}

.keyboard--button__operation {
    background: orange;
    color: white;
}

.keyboard--button__etc {
    background: rgb(169, 169, 169);
    color: white;
}

.keyboard--button__number {
    
}