div.calc--keyboard:focus {
    border: none;
    background: #ccc;
    outline: none;
}

.keyboard--button {
    width: calc(25% - 2px);
    background: #eaeaea;
    height: 50px;
    margin: 1px;
    border: none;
    /* box-shadow: .5px .5px grey; */
}

.keyboard--button:hover {
    background: #464646;
    color: white;
}

.keyboard--button__operation {
    background: orange;
    color: white;
}

.keyboard--button__etc {
    background: #ccc;
    color: white;
}

.keyboard--button__number {
    
}